.left-sidebar {
    list-style-type: none;
    margin:0px;
}
.left-sidebar li a{
    color: #333;
    text-decoration: none!important;
}
.tp-heading{
    font-size: 15px;
    color:#000;
    text-transform: uppercase;
}
.top-head{
    cursor: pointer;
}
.collapse-section{
    display: none;
    transition: display 0.5s linear;
}
.collapse-section.hide{
    display: block;
    transition: display 0.5s linear;
}
.fa.fa-angle-down.up::before{
    content: "\f106"!important;
}
.sidebar {
    min-height: 70vh;
    box-shadow: 0px 0px 5px #eee;
}