<div class="sub-header-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <ul class="list-inline text-center">
          <li><a href="javascript:void(0)">Electronics <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
          <li><a href="javascript:void(0)">TVs & Appliances <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
          <li><a href="javascript:void(0)">Men <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
          <li><a href="javascript:void(0)">Women <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
          <li><a href="javascript:void(0)">Baby & kids <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
          <li><a href="javascript:void(0)">Home & Furniture <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
          <li><a href="javascript:void(0)">Sports & Books <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
          <li><a href="javascript:void(0)">Offer Zone <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
